extends layout

block content
    //h1= user.name
    //h2= user.age
    form(method='post',action='/users?name=ted&password=1234566')
        input(type='text',name='name',placeholder='name')
        br
        input(type='text',name='password',placeholder='pwd')
        br
        input(type='submit',value='-go-')
