extends layout

block content
    h1= user.name
    form(method='POST',action='/users')
        input(type='text',name='name',placeholder='name')
        br
        input(type='text',name='password',placeholder='pwd')
        br
        input(type='submit',value='-submit-')
